[submodule "rust-streamdeck"]
	path = rust-streamdeck
	url = https://github.com/aughey/rust-streamdeck.git
[submodule "rust-streamdeck-updated"]
	path = rust-streamdeck-updated
	url = git@github.com:aughey/rust-streamdeck.git
[submodule "elgato-streamdeck"]
	path = elgato-streamdeck
	url = https://github.com/aughey/elgato-streamdeck
[submodule "bincode"]
	path = bincode
	url = https://github.com/losfair/bincode
